.movies-card__title-block{
    width:100%;
    height: 64px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.movies-card__name-block{
    width:100%;
    height: 26px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.movies-card__like-button{
    width:24px;
    height: 24px;
    border-radius: 36px;
    background-repeat: no-repeat;
    background-position: center;
    border:0;
    background-color: #F5F5F5;
}

.movies-card__like-button_active{
    background-image: url('../../images/like-button_active.png');
    background-position: center;
    background-size: 10px;
    cursor: pointer;
}

.movies-card__like-button_inactive{
    background-image: url('../../images/like-button_inactive.png');
    background-position: center;
    background-size: 10px;
    cursor: pointer;
}


/*

.movies-card__like-button_regular:hover{
    background-image: url('../../images/like-button_active.png');
}

.movies-card__like-button_on-saved-movies-page{
    background-image: url('../../images/like-button_inactive.png');
}

.movies-card__like-button_on-saved-movies-page:hover{
    background-image: url('../../images/close-button.png');
    background-position: center;
    background-size: 2vh;
}

.movies-card__like-button_inactive{
    background-image: url('../../images/like-button_inactive.png');
}

.movies-card__like-button_active{
    background-image: url('../../images/like-button_active.png');
}

.movies-card__like-button_active:hover{
    background-image: url('../../images/close-button.png');
    background-position: center;
    background-size: 2vh;
}

*/

.movies-card__title{
    height: 16px;
    width: 226px;

    padding-top: 0;
    padding-bottom: 0;
        
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
}

.movies-card__duration{
    padding-top: 6px;
    border-top:1px solid #E8E8E8;
    display: inline-block;
    width:100%;
    height: max-content;
    text-align: center;    

    margin-bottom: 0;
    color: #A0A0A0;

    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0px;
    text-align: left;
}
