.profile__block{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
}

@media screen and (max-width: 764px){
    .profile__block{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.profile__photo{
    width: 270px;
    height: auto;
    border-radius:10px;
}

@media screen and (max-width: 764px) {
    .profile__photo{
        width: 292px;
    }
}

@media screen and (max-width: 640px) {
    .profile__photo{
        width: 80%;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 320px) {
    .profile__photo{
        width: 292px;
    }
}

.profile__title{
    margin-top: 0;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -0.04em;
    text-align: left;
}

.profile__info{
    width:100%;
    height: max-content;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 764px){
    .profile__info{
        margin-right: 0;
        margin-top: 20px;
    }
}

@media screen and (max-width: 1202px){
    .profile__title{
        font-size: 40px;        
        line-height: 40px;
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 764px){
    .profile__title{
        font-size: 30px;        
        line-height: 36px;
        text-align: center;
    }
}

.profile__subtitle{
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 30px;
}

@media screen and (max-width: 1202px) {
    .profile__subtitle{
        font-size: 14px;
        line-height: 18px;
    }
}

@media screen and (max-width: 764px){
    .profile__subtitle{
        font-size: 14px;
        line-height: 16px;
        text-align: center;
    }
}

.profile__item{
    font-size: 16px;
    line-height: 16px;
    text-align: left;
}

.profile__info-buttons{
    width:100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

@media screen and (max-width: 764px){
    .profile__info-buttons{
        display: flex;    
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }   
}
