.overlay-menu{
    height: 100%;
    width:100%;
    background-color: rgba(46, 68, 133, 0.3);
    z-index: 1;
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
}

.overlay-menu_shown{
    display: flex;
    flex-direction: row-reverse;
}

.overlay-menu_hidden{
    display: none;
}

.overlay-menu__menu-section{
    width:520px;
    height: 100%;
    background-color: white;
    opacity:1.0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.overlay-menu__close-block{
    height: 22px;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top:22px;
    margin-bottom: 105px;
}

.overlay-menu__button-close{
    width: 22px;
    height: 22px;
    margin-right: 22px;
    background-image: url('../../images/close-button.png');
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
}

.overlay-menu__links-large{
    width:max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    margin-bottom: 350px;
}