.promo{
    height: 100%;
    width: 100%;
    padding:0;
    margin-bottom: 10px;
    margin-top: 20px;

    border-radius: 10px;
    background-color: #F5F5F5;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.promo__main{
    padding:0;

    height: 303px;
    margin-bottom: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1279px) {
    .promo__main{
        width:100%;
    }
}

.promo__title{
    display: inline-block;
    margin-top:0;

    width:730px;
    height: 116px;

    font-size:50px;
    line-height: 58px;
    
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.04em;
    text-align: center;
}

@media screen and (max-width:1279px){
    .promo__title{
        font-size: 40px;
        width:680px;
        height: 104px;
    }
}

@media screen and (max-width:768px){
    .promo__title{
        width:680px;
        height: max-content;
        font-size: 29px;
        line-height: 37px;
    }
}

@media screen and (max-width:767px){
    .promo__title{
        width:88%;
        height: max-content;
        font-size: 29px;
        line-height: 37px;
    }
}
