.header__link{
    font-size: 12px;
    font-style: normal;
    line-height: 16px;
    letter-spacing: 0px;
    margin-left: 10px;
    margin-right: 0;

    height: 32px;
    padding-left:5px;
    padding-right:5px;

    border-radius: 3px;
    text-align: center;
    
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:black;

    cursor: pointer;
}

.header__link:hover{
    opacity: 0.8;
}

.header__link_plain{
    background-color: inherit;
    width: max-content;
}

.header__link_colored{
    background-color: #3456F3;
    color:white;
    text-decoration: none;
    width: 76px;
}

.header__link_plain{
    font-weight: 400;
    font-style: normal;
}

.header__link_bold{
    font-weight: 500;
    font-style: normal;
}

.header__link_shown{
    display: flex;
}

.header__link_hidden{
    display: none;
}

.header__link-image_shown{
    display: block;
}

.header__link-image_hidden{
    display: none;
}

.header__link-with-margin{
    margin-left: 50px;
}

.header__link-image{
    height: 30px;
    width: 26px;
    border-radius: 4px;
    background-image: url('../../images/icon__user.png');
    background-color:#E5E5E5;
    margin-left:25px;

    background-position: center;
    background-repeat: no-repeat;
}
