.about-project__text-block{
    width:550px;
    height: auto;
}

@media screen and (max-width: 1279px) {
    .about-project__text-block{
        width:48%;
    }
}

@media screen and (max-width: 768px) {
    .about-project__text-block{
        width:319px;
    }
}

@media screen and (max-width: 767px) {
    .about-project__text-block{
        width:48%;
    }
}

@media screen and (max-width: 598px) {
    .about-project__text-block{
        width:100%;
    }
}


.about-project__text-block-title{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.04em;
    text-align: left;
}

.about-project__text-block-text{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}

@media screen and (max-width: 1024px){
    .about-project__text-block-text{
        font-size: 12px;
    }
}