.button-submit-colored{
    margin: 0 auto;
    margin-top: 0;
    margin-bottom:0;
    margin-left: 0;
    margin-right: 0;

    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;

    cursor: pointer;
    
    border-radius: 2px;
    border:0;
    margin-top: 69px;
    margin-bottom: 16px;
    width: 396px;
    height: 45px;
}

.button-submit-colored_shown{
    display: block;
}

.button-submit-colored_hidden{
    display:none;
}

@media screen and (max-width:764px){
    .button-submit-colored{
        font-size: 12px;
        line-height: 15px;
    }
}

.button-submit-colored:hover{
    opacity:0.8;
    cursor:pointer;
}

.button-submit-colored_enabled{
    background-color: #3456F3;
    color:white;
}

.button-submit-colored_disabled{
    background-color: #F8F8F8;
    color:black;
}

@media screen and (max-width:764px){
    .button-submit-colored{
        margin-top: 157px;
        margin-bottom: 14px;
        width:100%;
        height: 45px;
    }
}
