.header {
    width:100%;
    height: 74px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    
}



.header__logo{
    width:38px;
    height: 38px;
}

.header__content{
    width:100%;
    height: max-content;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: max-content;
    height: max-content;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
}

.header__links_on-frontpage{
    display: flex;
    flex-direction: row;
    width:max-content;
    height: max-content;
}

.header__links_on-mainpage{
    display: flex;
    flex-direction: row;
    width:max-content;
    height: max-content;
}

@media screen and (max-width:1068px) {
    .header__links_on-mainpage{
        display: none;
    }
}
