.filter-checkbox{
    width:max-content;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-left: 48px;
}

@media screen and (max-width: 768px){
    .filter-checkbox{
        margin-top: 38px;
    }   
}

.filter-checkbox__text{
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
}

.filter-checkbox__toggle-button{
    margin-left: 14px;
    cursor: pointer;
}