.form-error{
    width:100%;
    height: max-content;
    margin-top: 15px;
    margin-bottom: 15px;
}

.form-error__text{
    width:100%;
    text-align: left;

    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    color:red;
}

.form-error__text_hidden{
    display: none;
}

.form-error__text_shown{
    display: inline-block;
}