.footer{
    width:100%;
    height: 172px;
    margin-bottom:0;
    
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 764px){
    .footer{
        padding: 0;
        height: 270px;
    }   
}

.footer__content{
    height: 100%;
    width:100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 79px;
}

.footer__title{
    width: 100%;
    background-color: inherit;
    border-bottom: 1px solid #E8E8E8;
    margin-bottom: 20px;
}

.footer__title-text{
    width:100%;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
    color: #A0A0A0;
}

@media screen and (max-width: 764px){
    .footer__title-text{
        font-size:12px;
        line-height: 15px;
    }
}

.footer__copyright{
    display: inline-block;
    width:max-content;
    height: max-content;
    margin:0;

    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
    color: #A0A0A0;
}

@media screen and (max-width: 764px){
    .footer__copyright{
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        width:100%;
        text-align: center;
    }
}

.footer__info{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__links{
    padding: 0;
}

@media screen and (max-width: 764px){
    .footer__links{
        display: flex;
        flex-direction: column;
        align-items: center;
        width:100%;
        height: max-content;
    }
}

.footer__link{
    width:max-content;
    margin-right: 20px;
}

@media screen and (max-width: 764px){
    .footer__link{
        width: max-content;
        margin-left:0;
        margin-right:0;
        margin-bottom: 12px;
        
        text-align: center;
        font-size: 12px;
        line-height: 15px;
    }   
}

@media screen and (max-width: 764px){
    .footer__info{
        flex-direction: column-reverse;
        width:100%;
        height: max-content;
    }
}