.techs{
    width:100%;
    height: max-content;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.techs__content{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.techs__title{
    height: 58px;
    width: 100%;
    display: inline-block;

    margin-top: 90px;

    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -0.04em;
    text-align: center;
}

@media screen and (max-width:764px) {
    .techs__title{
        font-size: 30px;
        line-height: 36px;
    }
}

.techs__icons-grid{
    width:max-content;
    height: max-content;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 10px;

}

@media screen and (max-width:765px) {
    .techs__icons-grid{
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-row-gap:10px;
    }
}

@media screen and (max-width:680px) {
    .techs__icons-grid{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-row-gap:10px;
    }
}


@media screen and (max-width:494px) {
    .techs__icons-grid{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-row-gap:10px;
    }
}

@media screen and (max-width:334px) {
    .techs__icons-grid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-row-gap:10px;
    }
}
