@import './vendor/normalize.css';
@import './vendor/fonts/fonts.css';
/*@import './vendor/layout.css';*/

.App {
  text-align: center;
  font-family: 'Inter', 'Arial', sans-serif ;
  color:black;

  /*min-width: 320px;
  max-width: 1280px;*/

  max-width: 1280px;
  width:100%;

  margin: 0 auto;
  height: max-content;
  padding:0;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



/*
@media screen and (max-width: 1280px) {
  .App {
    width:1280px;
  }
}

@media screen and (max-width: 1279px) {
  .App {
    width:768px;
  }
}

@media screen and (max-width: 764px){
  .App {
    width:320px;
  }
}
*/

/*
@import './vendor/normalize.css';
@import './vendor/fonts/fonts.css';
@import './vendor/layout.css';

.App {
  text-align: center;
  font-family: 'Inter', 'Arial', sans-serif ;
  color:black;

  min-width: 320px;
  max-width: 1280px;

  margin: 0 auto;
  height: max-content;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .App {
    width:1024px;
  }
}

@media screen and (max-width: 768px) {
  .App {
    width:768px;
  }
}

@media screen and (max-width: 500px){
  .App {
    width:320px;
  }
}

*/