.movies-cards-list {
    width: 100%;
    height: max-content;

    /*background-color: gold;*/

    margin: 0 auto;

    display: grid;

    justify-content: space-between;
    align-content: start;

    grid-template-columns: repeat(4, max-content);
    grid-template-rows: repeat(4, max-content);
    grid-column-gap: 18px;
    grid-row-gap: 18px;
}

@media screen and (max-width: 1279px){
  .movies-cards-list {
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: repeat(3, max-content);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
}

@media screen and (max-width: 1235px){
  .movies-cards-list {
    grid-column-gap: 18px;
    grid-row-gap: 18px;
  }
}

@media screen and (max-width: 1207px){
  .movies-cards-list {
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: repeat(3, max-content);
    grid-column-gap: 18px;
    grid-row-gap: 18px;
  }
}

@media screen and (max-width: 999px){
  .movies-cards-list {
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(2, max-content);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
}

@media screen and (max-width: 669px){
  .movies-cards-list {
    justify-content: center;
    grid-template-columns: repeat(1, max-content);
    grid-template-rows: repeat(8, max-content);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
}


/*
@media screen and (max-width: 1279px){
  .movies-cards-list {
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: repeat(6, max-content);
    grid-column-gap: max-content;
    grid-row-gap: max-content;
  }
}

@media screen and (max-width: 1206px){
  .movies-cards-list {
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: repeat(6, max-content);
    grid-column-gap: max-content;
    grid-row-gap: max-content;
  }
}

@media screen and (max-width: 975px){
  .movies-cards-list {
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(8, max-content);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
}

@media screen and (max-width: 768px){
  .movies-cards-list {
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(8, max-content);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
}


/*
@media screen and (max-width: 816px){
    .movies-cards-list {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 270px);
      grid-column-gap: 30px;
      grid-row-gap: 30px;
    }
}
/*
@media screen and (max-width: 767px){
  .movies-cards-list {
    grid-template-columns: repeat(2, 47%);
    grid-template-rows: repeat(4, 248px);
    grid-column-gap: 1px;
    grid-row-gap: 34px;
  }
}

/*
@media screen and (max-width: 764px){
  .movies-cards-list {
    grid-template-columns: repeat(1, 302px);
    grid-template-rows: repeat(4, 248px);
    grid-column-gap: 1px;
    grid-row-gap: 34px;
  }
}*/
