.about-me{
    width:100%;
    height: max-content;

    margin-top:110px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
}

.about-me__main{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 66px;
}

@media screen and (max-width: 640px) {
    .about-me__main{
        flex-direction: column-reverse;
        align-items: center;
    }
}

.about-me__info{
    width:600px;
    height: 308px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 1088px) {
    .about-me__info{
        width:348px;
    }
}

@media screen and (max-width: 767px) {
    .about-me__info{
        width:48%;
    }
}

@media screen and (max-width: 640px) {
    .about-me__info{
        width:100%;
    }
}



.about-me__info-title{
    margin-top: 0;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -0.04em;
    text-align: left;
}

@media screen and (max-width: 1202px){
    .about-me__info-title{
        font-size: 40px;        
        line-height: 40px;
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 764px){
    .about-me__info-title{
        font-size: 30px;        
        line-height: 36px;
    }
}

.about-me__info-subtitle{
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
}

@media screen and (max-width: 1202px) {
    .about-me__info-subtitle{
        font-size: 12px;        
        line-height: 18px;
    }
}

@media screen and (max-width: 764px){
    .about-me__info-subtitle{
        font-size: 11px;        
        line-height: 16px;
    }
}

.about-me__info-text{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
}

@media screen and (max-width: 1202px) {
    .about-me__info-text{
        font-size: 12px;        
        line-height: 18px;
    }
}

@media screen and (max-width: 764px) {
    .about-me__info-text{
        font-size: 11px;        
        line-height: 16px;
    }
}

.about-me__info-links{
    display: flex;
    flex-direction: row;
    width:max-content;
    height: max-content;
    margin-top: 0;
    height: 17px;
}

@media screen and (max-width: 1088px) {
    .about-me__info-links{
        margin-top: 0;
        height: 17px;
    }
}

.about-me__info-link{
    display: inline-block;
    width: max-content;
    height: max-content;
    margin-right: 20px;
    margin-left: 0;
    margin-top:0;
    margin-bottom: 0;

    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    
}

@media screen and (max-width: 1088px) {
    .about-me__info-link{
        margin-top: 0;
        display: inline-block;
    }
}

.about-me__profile-photo{
    width: 270px;
    height: auto;
    border-radius:10px;
}

@media screen and (max-width: 768px) {
    .about-me__profile-photo{
        width: 255px;
    }
}

@media screen and (max-width: 640px) {
    .about-me__profile-photo{
        width: 80%;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 320px) {
    .about-me__profile-photo{
        width: 292px;
    }
}


/*
@media screen and (max-width: 1202px) {
    .about-me__profile-photo{
        height: 307px;
        margin-left: 49px;
    }
}

@media screen and (max-width: 764px) {
    .about-me__profile-photo{
        margin: 0 auto;
        width:100%;
        height: auto;
        margin-bottom: 49px;
    }
}
*/

.about-me__portfolio{
    margin-top: 101px;
    width:100%;
}

.about-me__portfolio-title{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: #A0A0A0;
    margin-top: 0;
}

@media screen and (max-width: 764px) {
    .about-me__portfolio-title{
        font-size: 14px;
    }
}